<!-- <iframe width="560" height="315" src="//www.youtube.com/embed/1a6hxUb3zfU" frameborder="0" allowfullscreen></iframe> -->
<div style="text-align:center; display:block; margin-left: auto; margin-right: auto;">
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="//www.youtube.com/embed/1a6hxUb3zfU" frameborder="0" allowfullscreen></iframe>
</div>
</div>